name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  tests:
    name: Tests
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      enable_linux_checks: true
      enable_windows_checks: true
      enable_macos_checks: true
      macos_xcode_versions: '["26.0"]'
      linux_swift_versions: '["6.0"]'
      windows_swift_versions: '["6.0"]'
      macos_pre_build_command: 'git submodule update --init --recursive'
      linux_pre_build_command: 'git submodule update --init --recursive'
      windows_pre_build_command: 'Invoke-Program git submodule update --init --recursive'
