name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  linux:
    name: Linux (Swift 6.0)
    runs-on: ubuntu-latest
    container:
      image: swift:6.0-jammy
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Swift version
        run: swift --version
      - name: Test
        run: swift test

  macos:
    name: macOS (Swift 6.0)
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Select Xcode 16
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "16.0"
      - name: Swift version
        run: swift --version
      - name: Test
        run: swift test

  windows:
    name: Windows (Swift 6.0)
    runs-on: windows-2022
    steps:
      - name: Install Swift 6.0
        uses: compnerd/gha-setup-swift@main
        with:
          swift-version: swift-6.0-release
          swift-build: 6.0-RELEASE
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Swift version
        shell: pwsh
        run: swift --version
      - name: Test
        shell: pwsh
        run: swift test
